:root {
  --primaryColor: #e73959;
  --primaryColor-grey: #777;
  --statusColorr-blue: #4298a9;
  --statusColor-lightBlue: #e0faff;
  --statusColor-brown: #b38c3e;
  --statusColor-cream: #fcf0d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SFProText";
  src: local("SFProText"),
    url(../fonts/SF-Pro-Text-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SFProText";
  src: local("SFProText"), url(../fonts/SF-Pro-Text-Bold.otf) format("opentype");
  font-weight: bold;
}
html,
body {
  font-family: "Roboto", sans-serif !important;
}

.clickable{
  cursor: pointer;
}